* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0f0f0f;
    color: white;
    scroll-behavior: smooth;
}

header {
    background: #111;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
}

.navbar ul {
    display: flex;
    gap: 20px;
}

.navbar a {
    color: #fff;
}

.section {
    padding: 100px 50px;
    text-align: center;
    opacity: 0;
    transform: translateY(40px);
    transition: .7s;
}

.section.show {
    opacity: 1;
    transform: translateY(0);
}

.home {
    padding-top: 140px;
}

.profile-pic {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 3px solid #fff;
    margin-bottom: 15px;
}

.btn {
    background: #7C3AED;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 6px;
    font-weight: 600;
    display: inline-block;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(120px,1fr));
    gap: 12px;
    text-align: center;
}

.skill-box {
    padding: 10px;
    background: #1a1a1a;
    border-radius: 6px;
    font-size: 14px;
}

.project-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.project-card {
    width: 300px;
    padding: 20px;
    background: #1a1a1a;
    border-radius: 10px;
}

.cert-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.cert-grid img {
    width: 220px;
    border-radius: 8px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 60%;
    background: #1c1c1c;
    padding: 25px;
    border-radius: 10px;
}

.close {
    float: right;
    font-size: 25px;
    cursor: pointer;
}
